h1 {
    font-family: "Raleway", sana-serif;
    font-weight: 400;
    color: #0D2C40;
    letter-spacing: 1px;
    font-size: 45px;

}
h2 {
    font-family: "Raleway";
    color: #F15B31;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}
h4 {
    font-family: "Raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;

}
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;
    font-size: 18px;
}
body {
    text-align: center;
}
a:link {
    text-decoration: none;
    color: #F15B31;
}
